@tailwind preflight;
@tailwind utilities;

#__nuxt, #__layout {
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
