---
import SocialLinks from "../components/SocialLinks.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mason Hahn - Front-End Developer">
  <main>
    <div>
      <h1>404</h1>
      <h2>Oops. Nothing to see here.</h2>
      <SocialLinks showHome/>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
  }
  h2 {
    color: #4a5568;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .user-card {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
</style>
