---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mason Hahn - Front-End Developer">
  <main>
    <div>
      <div class="user-card">
        <picture>
          <source type="image/avif" srcset="/images/headshot.avif" />
          <source type="image/webp" srcset="/images/headshot.webp" />
          <img src="/images/headshot.jpg" width="96" height="96" alt="" />
        </picture>
        <div>
          <h1>Mason Hahn</h1>
          <h2>@bricksroo</h2>
          <div class="links">
            <a rel="me" href="https://mastodon.social/@bricksroo">Mastodon</a>
            <a href="https://twitter.com/bricksroo">Twitter</a>
            <a href="https://github.com/bricksroo">Github</a>
          </div>
        </div>
      </div>
      <p>
        Hi, my name is Mason. I'm a front-end developer from Costa Mesa, CA
        endlessly learning and loving every second. Currently, I work at <a
          href="https://weedmaps.com/">Weedmaps</a
        >.
      </p>
      <p>
        Built while tinkering with <a href="https://astro.build/">Astro</a> and hosted
        on <a href="https://www.netlify.com/">Netlify</a>.
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    min-height: 100vh;
    display: grid;
    align-items: center;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    color: #4a5568;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
  }
  img {
    border-radius: 50%;
    overflow: hidden;
    width: 96px;
  }
  .user-card {
    display: grid;
    gap: 1.75rem;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .user-card .links {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.5rem;
  }
  a {
    color: #4c51bf;
    text-decoration: underline;
  }
  p {
    font-weight: 1.125rem;
    line-height: 1.5;
  }
</style>
